{% extends "__layout.html" %}

{% block title %}À propos{% endblock %}

{% block content %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus a molestiae, iure id voluptatum modi perspiciatis
  ut, quis quas nesciunt earum culpa consectetur harum quasi alias, error rem aliquid minima.</p>
<p>Quis sit architecto, ratione eligendi molestias excepturi, dolores quisquam rem ut illo officiis vitae, nisi atque
  maiores quasi ipsam commodi quos corrupti minus. Distinctio maiores accusamus aperiam. Expedita, qui porro?</p>
<p>Ab ad mollitia architecto, aliquam, temporibus itaque molestiae quas voluptates ea quo, eius at voluptatem deleniti
  libero recusandae? Eos eum repellendus, dolores inventore at quaerat. Saepe illum recusandae impedit atque.</p>
{% endblock %}